<form action="/signup" method="POST">
    {% csrf_token %}
    <div>
        <label for="username">Username</label>
        <input type="text" name="username">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email">
    </div>
    <div>
        <label for="ssn">Social Security number</label>
        <input type="text" name="ssn">
    </div>
    <div>
        <label for="recovery_q">Question for password recovery</label>
        <select name="recovery_q">
            <option>My favourite color</option>
            <option>My first pet</option>
        </select>
    </div>
    <div>
        <label for="recovery_a">Answer for password recovery question</label>
        <input type="text" name="recovery_a">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password">    
    </div>
        <input type="submit" value="Create new account">
</form>
{% include "pages/messages.html" %}